{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
      <link href="{% static 'css/main-style.css' %}" rel="stylesheet">
      <title>Europ Healthcare</title>
   </head>
   <body class="no-overflow">
      <div class="main-div">
         <header>
            <nav class="navbar navbar-inverse">
               <div class="container-fluid">
                  <div class="navbar-header">
                     <div class="logos">
                        <div class="logo-1"><a href="#"><img src="{% static 'img/home-care.svg' %}" alt="home-care-logo" class="img-responsive"></a></div>
                        <div class="logo-2"><a href="#"><img src="{% static 'img/logo.svg' %}" alt="europ-logo" class="img-responsive"></a></div>
                     </div>
                  </div>
               </div>
            </nav>
         </header>
         <div class="container">
            <div class="profile-main">
               <div class="profile-main-info clearfix">
                  <figure>
                     <img src="{% static 'img/female.png' %}" class="img-responsive" alt="female">
                     <img src="{% static 'img/male.png' %}" class="img-responsive hide" alt="male">
                     <img src="{% static 'img/other.png' %}" class="img-responsive hide" alt="other">
                  </figure>
                  <h3>My profile</h3>
               </div>
               <div class="profile-main-form">
                  <form class="form-new" action="{% url 'manageprofile' %}" method="POST">
                  {% csrf_token %}
                     <!-- personal details form -->
                     {% comment %} {% for singup in singup %} {% endcomment %}

                  <div class="signup-form-new">
                  {% include 'partials/_alerts.html' %}
                     <h3>Personal details</h3>
                     {% for singup in singup %}
                     <div class="row">
                        {% comment %} {% for singup in singup %} {% endcomment %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label for="first_name">First name*</label>
                              <input type="text" class="form-control " id="first_name" name= "first_name"  value="{{singup.user.first_name }} " placeholder="Enter your first name">
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label for="last_name">Last name*</label>
                              <input type="text" class="form-control" id="last_name" name="last_name" value="{{singup.user.last_name}}" placeholder="Enter your last name">
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label >Gender*</label>
                              <div class="dropdown-container">
                                 <select onchange="changeMe(this)"  name="gender" required>
                                    <option value="">Select gender</option>
                                    <option value="male"{% if singup.gender == 'male' %}selected="selected"{% endif %}>Male</option>
                                    <option value="female" {% if singup.gender == 'female' %}selected="selected"{% endif %}>Female</option>
                                    <option value="other" {% if singup.gender == 'other' %}selected="selected"{% endif %}>Other</option>
                                 </select>
                                 <div class="select-icon">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
         
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label>Location*</label>
                              <div class="dropdown-container">
                                 <select onchange="changeMe(this)"  name="location" required>
                                    <option value="">Select city</option>
                                 {% for citydata in citydata %} 
                                <option value="{{citydata.city_name}}" {% if citydata.city_name == singup.location %} selected="selected" {% endif %}>{{citydata.city_name}}</option>
                               {% endfor %} 

                               
                                 {% comment %} {% for citydata in citydata %} 

                               <p> {% if citydata == '{{citydata.city_name}}' %}
                                 {% endif %} {{citydata.city_name}}</p>
                                 {% endfor %} {% endcomment %}
                                 </select>
                                 <div class="select-icon">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label for="email">Email address*</label>
                              <input type="text" class="form-control" id="email" name="email" 
                              value="{{singup.user.email}}" placeholder="Enter email address">
                           </div>
                        </div>
                           <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label for="mobile_no">Mobile number*</label>
                              <input type="text" class="form-control" id="mobile_no" name="mobile_no" value="{{singup.mobile_no}}" placeholder="Enter valid mobile number">
                           </div>
                        </div>
                        {% comment %} <div class="col-md-6 col-sm-6 col-xs-12">
                           <div class="form-group">
                              <label for="password">Create password*</label>
                              <input type="text" class="form-control" name="password" value="" id="createpassword" placeholder="Enter password">
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6  col-xs-12">
                           <div class="form-group">
                              <label for="confirmpassword">Confirm password*</label>
                              <input type="text" class="form-control" id="confirmpassword" placeholder="Re-enter passworde">
                           </div>
                        </div> {% endcomment %}
                     </div>
                     {% endfor%}
                  </div>
                  {% comment %} {% endfor %}  {% endcomment %}

                  {% comment %} {% endfor %} {% endcomment %}
                  <!-- personal details form -->
                  <!-- medical details form -->
                  {% for profile in profile%}
                  <div class="form-new form-medical-details">
                     <h3>Medical details</h3>
                     {% comment %} {% for profile in profile%} {% endcomment %}
                     <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <label>Date of Birth </label>
                           <div class="form-group">
                              <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                                 <input class="form-control" type="text" name="DOB" value="{{profile.DOB }}" readonly />
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label for="Height">Height (in inches)</label>
                              <input type="text" name="Height" class="form-control" value="{{ profile.Height }}"id="height">
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label for="Weight">Weight (in KG)</label>
                              <input type="text" name="Weight" class="form-control" value="{{ profile.Weight }}" id="weight">
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4  col-xs-12">
                           <div class="form-group">
                              <label>Blood Group</label>
                              <div class="dropdown-container">
                                 <select onchange="changeMe(this)" name="Blood_Group">
                                    <option value=""></option>
                                    <option value="A+"{% if profile.Blood_Group == 'A+' %}selected="selected"{% endif %}>A +ve</option>
                                    <option value="A-"{% if profile.Blood_Group == 'A-' %}selected="selected"{% endif %}>A -ve</option>
                                    <option value="B+"{% if profile.Blood_Group == 'B+' %}selected="selected"{% endif %}>B +ve</option>
                                    <option value="B-"{% if profile.Blood_Group == 'B-' %}selected="selected"{% endif %}>B -ve</option>
                                    <option value="AB+"{% if profile.Blood_Group == 'AB+' %}selected="selected"{% endif %}>AB +ve</option>
                                    <option value="AB-"{% if profile.Blood_Group == 'AB-' %}selected="selected"{% endif %}>AB -ve</option>
                                    <option value="O+"{% if profile.Blood_Group == 'O+' %}selected="selected"{% endif %}>O +ve</option>
                                    <option value="O+"{% if profile.Blood_Group == 'O-' %}selected="selected"{% endif %}>O -ve</option>
                                 </select>
                                 <div class="select-icon">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label>Do you smoke?</label>
                              <div class="dropdown-container">
                                 <select onchange="changeMe(this)" name="Smoke">
                                    <option value=""></option>
                                    <option value="Yes" {% if profile.Smoke == 'Yes' %}selected="selected"{% endif %}>Yes</option>
                                    <option value="No" {% if profile.Smoke == 'No' %}selected="selected"{% endif %}>No</option>
                                 </select>
                                 <div class="select-icon">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="form-group">
                              <label>Do you consume alcohol?</label>
                              <div class="dropdown-container">
                                 <select onchange="changeMe(this)" name="Alcohol" >
                                    <option value=""></option>
                                    <option value="Frequently" {% if profile.Alcohol == 'Frequently' %}selected="selected"{% endif %}>Frequently</option>
                                    <option value="Socially" {% if profile.Alcohol == 'Socially' %}selected="selected"{% endif %}>Socially</option>
                                    <option value="No" {% if profile.Alcohol == 'No' %}selected="selected"{% endif %}>No</option>
                                 </select>
                                 <div class="select-icon">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <div class="form-group">
                              <label for="allergy">Allergy</label>
                              <textarea name="Allergy" id="allergy-details" class="form-control" cols="20" rows="10" placeholder="Please describe allergies or sensitivities, if any.">{{ profile.Allergy }}</textarea>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <div class="form-group">
                              <label>Current medications</label>
                              <textarea  class="form-control" cols="20" rows="10" name="Medication"  placeholder="Please describe your current medications.">{{ profile.Medication }}</textarea>
                           </div>
                        </div>
                     </div>
                     {% endfor %} 
                  </div>
                  <!-- medical details form -->
                  <button class="btn  btn-primary create-btn" value="Profile" type="submit">Update
                  </button>
                  </form>
               </div>
            </div>
                     <!-- Modal -->
         <div id="otp" class="modal fade modal-fixed" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-body">
                     <h5>Enter the six digit OTP we sent you on your registered mobile number and email address</h5>
                     <form>
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <div class="resend-otp clearfix"><a href="#" class="pull-right">Resend OTP</a></div>
                     </form>
                     <button type="button" class="btn btn-primary verify-btn" data-dismiss="modal" data-toggle="modal" data-target="#verification-otp" >Verify</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- Modal -->
         <div id="verification-otp" class="modal fade modal-fixed" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-body">
                     <figure>
                        <img src="img/click.svg" class="img-responsive" alt="verification-click">
                     </figure>
                     <div>
                        
                        <h3>Your details have been successfully updated</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script>
         function changeMe(sel){
         sel.style.color = "#000";
         }
         setTimeout(function() {

    $('#alert-message').fadeOut('slow');
  
  }, 3000);
      </script>
   </body>
</html>